@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "RoleList";
}

<h2>RoleList</h2>
<p>
    @Html.ActionLink("Create Role", "CreateRole", "Roles")
</p>
<table>
    <thead>
        <tr>
            <th>
                Role Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>