@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="banner-info">
        @*<div class="banner-logo text-center">
            <img src="img/logo.png" class="img-responsive">
        </div>*@
        <div class="banner-text text-center" style="color:black;">
            <h1 class="white">Healthcare at your desk!!</h1>
            <p>
                A physician says we need a national licensing system for doctors; it will help physicians, patients, and healthcare costs.
                <br>The US Food and Drug Administration (FDA) is asking for an additional clinical trial to demonstrate greater benefits of tenapanor before it can decide on approval of the drug for the control of serum phosphorus in adults with chronic kidney disease (CKD) who are on dialysis, the drug's maker, Ardelyx, reports.

                According to the company, the FDA said "the submitted data provide substantial evidence that tenapanor is effective in reducing serum phosphorus in CKD patients on dialysis," but they characterize the magnitude of the treatment effect as "small and of unclear clinical significance," in a recently issued complete response letter.

            </p>
            <a href="#contact" class="btn btn-appoint">Make an Appointment.</a>
        </div>
        <div class="overlay-detail text-center">
            <a href="#service"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</div>
